<template name="bpmns">
 
   <div class="content " id="js-drop-zone">

    <div class="message intro">
      <div class="note">
        Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
      </div>
    </div>
    <div class="message error">
      <div class="note">
        <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>
    </div>

    <div class="canvas" id="js-canvas"></div>
  </div>

  <ul class="buttons">
    <li>
      download
    </li>
    <li>
      <a id="js-download-diagram" href title="download BPMN diagram">
        BPMN diagram
      </a>
    </li>
    <li>
      <a id="js-download-svg" href title="download as SVG image">
        SVG image
      </a>
    </li>
    <li>
      <button id="save" class="btn btn-primary">Save</button>
    </li>
    <li>
 <label><input type="checkbox" name="charts" value="barChart"/>Bar Chart</label>
    <label><input type="checkbox" name="charts" value="pieChart"/>Pie Chart</label>
     <label><input type="checkbox" name="charts" value="lineChart"/>Line Chart</label>
</li>
  </ul>
  
 


  
 

    <!-- Email modal-->
    <button type="button" class="btn btn-primary hidden" id="email" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add email Id</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="position:'relative'">
          {{#if conditional}}
        <h4>Choose fields for conditional task</h4>
        <ul style="list-style-type: none;">
          {{#each pageFields}}
          <li style="float:left;padding-right:8px" id={{label}}>
            <label>{{label}}</label>
            <ul style="list-style-type: none; padding-left:5px">
              {{#each values}}
              <li>
                <label><input type='radio' id="pageField" name="pageField" value={{value}} />{{value}}</label>
              </li>
              
              {{/each}}
            </ul>
            
          </li>
        

        {{/each}}
        </ul>
        
        {{/if}}
        </div>
        <div style="padding-top:70px;position:'relative'; margin-top:150px">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">To:</label>
            <input type="text" class="form-control" id="to">
          </div>
          
          <div class="form-group">
            <label for="message-text" class="form-control-label">CC</label>
            <input type="text" class="form-control" placeholder="add cc" id="cc">
              {{#each cc}}
              <div style="font-size:20px;margin-top:8px"><a href="#" class="label label-primary">{{value}}</a><i class="fa fa-times "></i></div>
              {{/each}}
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">BCC</label>
            <input type="text" class="form-control" placeholder="add bcc" id="bcc">
             {{#each bcc}}
              <div style="font-size:20px;margin-top:8px"><a href="#" class="label label-primary">{{value}}</a><i class="fa fa-times "></i></div>
              {{/each}}
          </div>
          <div class="form-group">
            <label for="subject" class="form-control-label">Subject:</label>
            <input type="text" class="form-control" id="subject" />
          </div>
          <div class="form-group">
            <label for="body" class="form-control-label">Body:</label>            
            <textarea class="form-control" rows="4" id="body" cols="50"></textarea>
          </div>
          <button type="button" class="btn btn-primary" id="saveDetail">Add Email</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--choose page -->
 <button type="button" class="btn btn-primary hidden" id="pages_btn" data-toggle="modal" data-target="#pages">
  Launch demo modal
</button>


<div class="modal fade" id="pages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Page List</h2>
        <button type="button" class="close" data-dismiss="modal" id="closePage" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul style="list-style:none;">
          {{#each pages}}
          <li>
            <label><input type='radio' name="page" id="page" value={{_id}} />{{name}}</label>
          </li>
          {{/each}}
        </ul>
       <!--<h3>Choose roles for page</h3>
       {{#if showRoles}}
       {{#each workflowRoles}}
       <label><input value={{this}} id="role" name='role' type="checkbox" />{{this}} </label>
       {{/each}}
       {{/if}}-->
      </div>
      
    </div>
  </div>
</div>
<!-- Choose manual action -->
<button type="button" id="manual" class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#manualaction">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="manualaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <h4>Choose action for the workflow</h4>
        <label><input type="radio" name='action' value='approve'/>Approve</label>
        <label><input type="radio" name='action' value='assign'/>Assign</label>
        <h4>Choose roles for Performing action</h4>
       {{#if showRoles}}
       {{#each workflowRoles}}
       <label><input value={{this}} id="role" name='actionRole' type="checkbox" />{{this}} </label>
       {{/each}}
       {{/if}}
       <button class="btn btn-primary" id="action">Done</button>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<!--Assigner-->
<button type="button" class="btn btn-primary hidden" id="assigner" data-toggle="modal" data-target="#assign">
  Launch demo modal
</button>


<div class="modal fade" id="assign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Page List</h2>
        <button type="button" class="close" data-dismiss="modal" id="closePage" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#if loadWorkflow}}
        {{#each assignerRole}}
          <label><input type="checkbox" name="assigner" value={{this}} />{{this}}</label>
        {{/each}}
        {{/if}}
       <!--<h3>Choose roles for page</h3>
       {{#if showRoles}}
       {{#each workflowRoles}}
       <label><input value={{this}} id="role" name='role' type="checkbox" />{{this}} </label>
       {{/each}}
       {{/if}}-->
      </div>
      
    </div>
  </div>
</div>
</template>